<div class="mainDiv">
    <div class="topDiv">
        <h4 style="margin:0">Add Shifts</h4>
        <mat-icon (click)="closeDialog()" class="cursor">close</mat-icon>
    </div>
    <div class="content">
        <div class="shiftDetailsDiv">
          <form style="padding: 2%;">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input 
                matInput 
                [matDatepicker]="picker" 
                [(ngModel)]="selectedDate" 
                name="date"
                (dateChange)="onDateChange($event)">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
            <form style="padding: 2%;">
                <mat-form-field>
                  <mat-label>location</mat-label>
                  <mat-select [(ngModel)]="selectedLocation" name="location">
                    <mat-option *ngFor="let location of locations" [value]="location.loc">
                      {{location.loc}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <p> Selected Location: {{selectedLocation}} </p> -->
          </form>
        </div>
        <div>
          <mat-form-field appearance="fill" style="padding: 2%;">
            <mat-label>Start Time</mat-label>
            <mat-select [(value)]="start_time">
              <mat-option *ngFor="let time of times" [value]="time">
                {{ time }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="fill" style="padding: 2%;">
            <mat-label>End Time</mat-label>
            <mat-select [(value)]="end_time">
              <mat-option *ngFor="let time of times" [value]="time">
                {{ time }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="display: flex;justify-content: end;padding: 3% 2%">
            <button mat-stroked-button (click)="create_close_dialog()" color="primary">Create Shift</button>
        </div>
    </div>
</div>