<div class="header">
  <h3 style="margin: 1%;">My Schedules</h3>
  <button mat-raised-button (click)="logOut()" style="margin: 1%;"><mat-icon>power_settings_new</mat-icon></button>
</div>

<div style="overflow: auto;height: 100%;">
  <div class="schedulesPageHeader">
    <div style="padding:2%">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    
    <div class="actionBtns">
      <button mat-raised-button (click)="addShift('')">Add Shift</button>
    </div>
  </div>
  
  <mat-tab-group>
    <mat-tab label="Posted Shifts">
      <div class="displayDates">
        <div style=" margin:2% 0;">
          <ul class="dates" style="display: flex;">
            <li *ngFor="let date of getDatesInRange()" class="dateClass">
              {{ date | date: 'MM/dd/yyyy' }}
            </li>
          </ul>
          <ul class="usersData" style="display: flex;">
            <li *ngFor="let dateEntry of shifts" class="usersClass">  
              <ul>
                <li *ngFor="let shift of dateEntry.data" class="shiftsContainer">
                  <strong>Location:</strong> {{ shift.location }}<br>
                  <strong>Time:</strong> {{ shift.start_time }} - {{ shift.end_time }}
                </li>
                <li *ngIf="dateEntry.data.length === 0"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> 
    </mat-tab>
    <mat-tab label="Requested Shifts"> 
      <div class="displayDates">
        <div style=" margin:2% 0;">
          <ul class="dates" style="display: flex;">
            <li *ngFor="let date of getDatesInRange()" class="dateClass">
              {{ date | date: 'MM/dd/yyyy' }}
            </li>
          </ul>
          
          <ul class="usersData" style="display: flex;">
            <li *ngFor="let dateEntry of shifts" class="usersClass">  
              <ul>
                <li *ngFor="let shift of dateEntry.data" class="shiftsContainer" (click)="getEmployeesByShiftId(shift.shift_id)">
                  <strong>Location:</strong> {{ shift.location }}<br>
                  <strong>Time:</strong> {{ shift.start_time }} - {{ shift.end_time }}
                </li>
                <li *ngIf="dateEntry.data.length === 0"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> 
    </mat-tab>
  </mat-tab-group>
  
  
  <div style="margin:2%;height: 50%;overflow: auto;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" 
         *ngFor="let location of locations" style="padding: 1%;">
         <mat-expansion-panel-header>
          <mat-panel-title>
            {{location.loc}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="displayDates">
          <ul class="dates">
            <li class="dateClass"></li>
            <li *ngFor="let date of getDatesInRange()" class="dateClass">{{ date | date: 'MM/dd/yyyy' }}</li>
          </ul>
    
          <div *ngIf="shiftsAsPerLocation">
            <ul *ngFor="let user of getKeys(shiftsAsPerLocation)" style="display: flex;margin: 0;">
              <p  class="shiftsAsPerLocClass">{{ user }}</p> 
              <li *ngFor="let day of shiftsAsPerLocation[user]" style="width: 170px;border: 1px solid #ccc">
                <div>
                  <div *ngFor="let shift of day" style="width: 170px;">
                    <p><strong>Shift ID:</strong> {{ shift.shift_id }}</p>
                    <p><strong>Start Time:</strong> {{ shift.start_time }}</p>
                    <p><strong>End Time:</strong> {{ shift.end_time }}</p>
                    <!-- <p><strong>Location:</strong> {{ shift.location }}</p>  -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
  