::ng-deep .mat-mdc-form-field-infix{
    top: 15px!important;
}
.actionBtns{
    margin: 2%;
    display: flex;
    justify-content: end;
}

.displayDates{
    overflow: auto;
    margin:2% 0;
    padding: 0 2%;
}

.dates{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
}

.dateClass{
    background: #e5e5e5;
    padding:1rem;
    border: 1px solid #ccc;
    width:170px;
    display: flex;
    height:7vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.usersClass{
    border: 1px solid #e3e3e3;
    padding:1rem;
    list-style: none;
    width:170px;
    min-height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usersData{
    margin:0;
    padding: 0;
}
.schedulesPageHeader{
    display: flex;
    justify-content: space-between;
}

::ng-deep .custom-modalbox .cdk-overlay-container {
        position: absolute;
        top: 50%;
        lefT: 50%;
        height: 40vh;
        width: 40vh;
}
.shiftsContainer{
    background: aliceblue;
    padding: 2% 5%;
    border-left: 2px solid #91c8f8;
    margin: 5% 1%;
    font-size: 14px;
}
.header{
    top: 0;
    left: 0;
    box-shadow: 0px 7px 15px 0px rgba(192,192,194,0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: sticky;
    z-index: 10;
}
.shiftsAsPerLocClass{
    width:170px;
    border: 1px solid #ccc;
    margin: 0;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}